<h3>share this:</h3>
<span class="share-box" id="share-box"> 

    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{site.url}}{{page.url}}&via=iDebugAll&related=iDebugAll" 
       rel="nofollow" target="_blank" title="Share on Twitter">
        <i class="svg-icon twitter">&nbsp;</i>
    </a>

    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{ page.title }}&summary=&source=iDebugAll"  rel="nofollow" target="_blank" title="Share on LinkedIn" >
        <i class="svg-icon linkedin">&nbsp;</i>
    </a>

    <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" rel="nofollow" target="_blank" title="Share on Facebook">
        <i class="svg-icon facebook">&nbsp;</i>
    </a>
                             
    <a href="mailto:?subject={{ page.title }}&amp;body=Check this out: {{site.url}}{{page.url}}">
        <i class="svg-icon email">&nbsp;</i>
    </a> 
</span>
